<html>
    <head>
        <title>Word Stocks | Track the Performance of stocks relating to a word</title>

        <meta name="twitter:creator" content="@calder_white" />

        <!-- open graph stuff !-->
        <meta property="og:image" content="/api/words/{{word}}/graph" />


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-36KJ1DFVYR"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-36KJ1DFVYR');
        </script>

        <script src="/static/main.js"></script>
    </head>
    <body>
    </body>
</html>
