[Unit]
Description=Runs the word-stocks flask server on HTTPS.
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/calder/word-stocks/server
ExecStart=/home/calder/.local/bin/gunicorn --bind 0.0.0.0:443 wsgi
Restart=on-abort

[Install]
WantedBy=multi-user.target
