/*
 * Get rid of the stupid autofill styles.
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #353b48 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px;
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

.searchbar {
    margin-bottom: auto;
    margin-top: 2em;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    padding: 0 10px;
    width: 450px;
    caret-color:red;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    color:white;
    text-decoration:none;
    background: white;
    color: #e74c3c;

    transition: 0.3s;
}

.search_icon:hover {
    transform: scale(1.2, 1.2);
}

#graph-container {
    margin: 5px;
    border-bottom: 2px solid white;
    border-radius: 3px;
}

.graph-stats {
    color: white;
    padding-top: 3em;
}

.share-button-container {
    padding: 5px;
}

.share-text {
    font-family: Courier New;
    color: white;
    margin-bottom: 2px;
}

table {
    border: 2px solid white;
    border-radius: 5px;
    border-collapse: separate;
}

td {
    color: white;
    font-family: Courier New;
    padding: 0.25em;
}

td:nth-child(2) {
    padding-left: 2em;
    text-align: right;
}

#linkedin-container, #twitter-container {
    margin: 5px;
}

/** This is pretty hacky, but it works for now. **/
/** Context: The generated linkedin button is awkwardly smaller than the twitter one. **/
.IN-widget {
    margin-top: 3px !important;
    transform: scale(1.2);
}

.how-to-section {
    color: white;
    padding: 3em;
}

.col-30-p {
    width: 33.33%;
}

.col-30-p > p, h1 {
    font-family: Roboto, sans-serif;
}

.col-30-p > p {
    font-size: 1.2em;
    font-weight: 400;
    color: #d6d6d6;
}

.col-30-p > h1 {
    font-size: 1.5em;
}

/* div crap. too lazy to do this the right way */

.col-30-p > div > p, h1 {
    font-family: Roboto, sans-serif;
}

.col-30-p > div > p {
    font-size: 1.2em;
    font-weight: 400;
    color: #d6d6d6;
}

.col-30-p > div > h1 {
    font-size: 1.5em;
}
