[Unit]
Description=Runs the word-stocks HTTP to HTTPS redirect server.
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/calder/word-stocks/server/redirect_server
ExecStart=/home/calder/.local/bin/gunicorn --bind 0.0.0.0:80 wsgi
Restart=on-abort

[Install]
WantedBy=multi-user.target
